<ng-template ngFor let-item [ngForOf]="inputJson.controls">
  <ng-template [ngIf]="item.type == 'Button'"
    ><button mat-raised-button [ngStyle]="generateCss(item)">
      {{ item.text }}
    </button>
  </ng-template>

  <ng-template [ngIf]="item.type == 'Label'">
    <mat-card [ngStyle]="generateCss(item)">
      {{ item.text }}
    </mat-card >
  </ng-template>

  <ng-template [ngIf]="item.type == 'Slider'"
    ><mat-slider
      [ngStyle]="generateCss(item)"
      type="range"
      min="1"
      max="100"
      value="{{ item.value }}"
    >
    </mat-slider>
  </ng-template>
</ng-template>
