.center {
  width: 80%;
  max-width: 800px;
  margin: auto;
  margin-top: 5%;
}

.form {
  margin-top:15px;
  width:100%;
}

#mainForm {
  padding: 20px;
  background-color: white;
}

#mainTextArea {
  resize: none;
  height: 300px;
}

/* #generateButton {
  display: block;
  margin: auto;
} */

#statusMessage {
  padding:3px;
  color: #ff5050;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  float: right;
}

mat-chip {
  cursor: pointer;
}
