<div id="mainForm" class='center'>
    <mat-chip-list  aria-label="Control selection">
        <ng-template ngFor let-component [ngForOf]="dbService.getControls()" let-i="index">
	    <mat-chip [selected]="i == this.selectedControls" (click)="selectComponent(i)" color="accent">{{ component.name|slice:0:15 }}</mat-chip>
	</ng-template>
    </mat-chip-list>
  <mat-form-field class='form' appearance="fill">
    <textarea id='mainTextArea'
      [(ngModel)]="jsonText"
      (ngModelChange)="inputHandler()"
      matInput
    ></textarea>
  </mat-form-field>
  <button mat-raised-button
    color="accent"
    id='generateButton'
    [disabled]="buttonStatus"
    (click)="displayResult()"
  >
    Generate Controls
  </button>
  <p id="statusMessage">{{ statusMessage }}</p>

</div>
